{% extends 'base.html' %}
{% block content %}
<h1>Crear Producto</h1>
{{error}}
<form action="/productos/create/" method="POST">
    {% csrf_token %}
    {{formCreateProducto.as_p}}
    <br>
    <fieldset>
        <legend>Desea agregar especificaciones extra:</legend>
        <input type="radio" name="espAceptar" id="siEsp" value="si"><label for="siEsp">Si</label>
        <input type="radio" name="espAceptar" id="noEsp" value="no" checked><label for="noEsp">No</label>
    </fieldset>
    <br>
    <button>Registrar Producto</button>&emsp;<button><a href="/productos">Cancelar</a></button>
</form>
{% endblock %}