{% extends 'base.html' %}
{% block content %}
<h1>Crear Producto</h1>
{{error}}
<form action="/productos/create/" method="POST">
    {% csrf_token %}
    {{formCreateProducto.as_p}}
    <br>
    <fieldset>
        <legend>Desea agregar especificaciones extra:</legend>
        <input class="form-check-input" type="radio" name="espAceptar" id="siEsp" value="si"><label  class="form-label" for="siEsp">Si</label>
        <input class="form-check-input" type="radio" name="espAceptar" id="noEsp" value="no" checked><label  class="form-label" for="noEsp">No</label>
    </fieldset>
    <br>
    <button>Registrar Producto</button>&emsp;<a href="/productos">Cancelar</a>
</form>
{% endblock %}