{% extends 'base.html' %}
{% block content %}
<h1>Crear Opciones para la especificacion "{{especificacion.nombre}}"</h1>
{{error}}
{% if especificacion.tipo_valor == "string" %}
    <form action="/productos/create/{{id_producto}}/especificacion/{{especificacion.id}}" method="POST">
        {% csrf_token %}
        {{formCreateOpcion.as_p}}
        <br>
        <button>Registrar opcion</button>
        <ul>
            {% for o in opciones %}
            
                <li>{{o.nombre}}-{{o.valor}}</li>

            {% endfor %}
        </ul>
    </form>
{% else %}
    {{error}}
    <form action="/productos/create/{{id_producto}}/especificacion-numerica/{{especificacion.id}}" method="POST">
        {% csrf_token %}
        {{formCreateOpcionNumerica.as_p}}
        <br>
        {% if numeros %}
            <span>{{opcionNum.valor_minimo}}-{{opcionNum.valor_maximo}} con un salto de {{opcionNum.intervalo}}</span><br>
            {% if opcionNum %}
                <ul>
                    {% for i in numeros %}
                        <li>{{ i }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endif %}
        <button>Registrar intervalo de opciones</button><br><br>
    </form>
{% endif %}
<button><a href="/productos/create/{{id_producto}}">Back</a></button>
{% endblock %}